<template>
  <div class="branding-logo">
    <img class="with-text" src="@/static/branding-logo.png" alt="">
    <img class="without-text" src="@/static/logo.png" alt="">
  </div>
</template>

<style lang="scss" scoped>
.branding-logo {
  flex: 1;
  direction: rtl;
  margin-right: 30px;
  .without-text {
    display: none;
    width: 36px;
  }
  .with-text {
    display: block;
  }
}

@media (max-width: 900px) {
  .branding-logo {
    .without-text {
      display: block;
    }
    .with-text {
      display: none;
    }
  }
}
</style>
