<template>
  <div class="search-area">
    <app-textbox-normal width="large" background-color="dark" />
  </div>
</template>

<script>
import TextboxNormal from '../elements/TextboxNormal.vue'
export default {
  components: {
    appTextboxNormal: TextboxNormal,
  },
}
</script>

<style lang="scss" scoped>
.search-area {
  flex: 6;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}
</style>
