<template>
  <div class="user-profile">
    <div class="content">
      <div class="profile-thumbhnail">
        <img src="@/static/thumbnail.jpg" alt="">
      </div>
      <div class="credentials">
        <p class="bold username">علی قصاب باشی</p>
        <p class="email">مدیر</p>
      </div>
      <font-awesome-icon class="opening-icon" fas icon="chevron-down" :style="{'font-size': '12px' }" />
    </div>
  </div>
</template>

<style lang="scss" scoped>
.user-profile {
  flex: 1;
  padding: 0 10px;
  .content {
    height: 100%;
    width: 100%;
    min-width: 78px;
    padding: 0 10px;
    margin: 0 auto;
    direction: rtl;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    .opening-icon {
      display: block;
      margin-right: 20px;
    }
    .credentials {
      p {
        line-height: 15px;
      }
    }
    .profile-thumbhnail {
      width: 42px;
      height: 42px;
      border: 2px solid white;
      border-radius: 50%;
      display: flex;
      flex-direction: row;
      align-items: center;
      overflow: hidden;
      margin-left: 10px;
      img {
        display: block;
        width: 100%;
      }
    }
  }
}
</style>
