@font-face {
  font-family: vazir;
  font-style: normal;
  font-weight: 100;
  src: url('@/assets/fonts/vazir/Vazir-FD.eot');
  src: url('@/assets/fonts/vazir/Vazir-FD.eot?#iefix')
      format('embedded-opentype'),
    /* FF39+,Chrome36+, Opera24+*/ url('@/assets/fonts/vazir/Vazir-FD.woff')
      format('woff'),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('@/assets/fonts/vazir/Vazir-FD.ttf')
      format('truetype');
}

@font-face {
  font-family: 'vazir-black';
  font-style: normal;
  font-weight: 100;
  src: url('@/assets/fonts/vazir/Vazir-Black-FD.eot');
  src: url('@/assets/fonts/vazir/Vazir-Black-FD.eot?#iefix')
      format('embedded-opentype'),
    /* FF39+,Chrome36+, Opera24+*/
      url('@/assets/fonts/vazir/Vazir-Black-FD.woff') format('woff'),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url('@/assets/fonts/vazir/Vazir-Black-FD.ttf') format('truetype');
}

@font-face {
  font-family: 'vazir-bold';
  font-style: normal;
  font-weight: 100;
  src: url('@/assets/fonts/vazir/Vazir-Bold-FD.eot');
  src: url('@/assets/fonts/vazir/Vazir-Bold-FD.eot?#iefix')
      format('embedded-opentype'),
    /* FF39+,Chrome36+, Opera24+*/
      url('@/assets/fonts/vazir/Vazir-Bold-FD.woff') format('woff'),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url('@/assets/fonts/vazir/Vazir-Bold-FD.ttf') format('truetype');
}

@font-face {
  font-family: 'vazir-light';
  font-style: normal;
  font-weight: 100;
  src: url('@/assets/fonts/vazir/Vazir-Light-FD.eot');
  src: url('@/assets/fonts/vazir/Vazir-Light-FD.eot?#iefix')
      format('embedded-opentype'),
    /* FF39+,Chrome36+, Opera24+*/
      url('@/assets/fonts/vazir/Vazir-Light-FD.woff') format('woff'),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url('@/assets/fonts/vazir/Vazir-Light-FD.ttf') format('truetype');
}

@font-face {
  font-family: 'vazir-medium';
  font-style: normal;
  font-weight: 100;
  src: url('@/assets/fonts/vazir/Vazir-Medium-FD.eot');
  src: url('@/assets/fonts/vazir/Vazir-Medium-FD.eot?#iefix')
      format('embedded-opentype'),
    /* FF39+,Chrome36+, Opera24+*/
      url('@/assets/fonts/vazir/Vazir-Medium-FD.woff') format('woff'),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url('@/assets/fonts/vazir/Vazir-Medium-FD.ttf') format('truetype');
}

@font-face {
  font-family: 'vazir-thin';
  font-style: normal;
  font-weight: 100;
  src: url('@/assets/fonts/vazir/Vazir-Thin-FD.eot');
  src: url('@/assets/fonts/vazir/Vazir-Thin-FD.eot?#iefix')
      format('embedded-opentype'),
    /* FF39+,Chrome36+, Opera24+*/
      url('@/assets/fonts/vazir/Vazir-Thin-FD.woff') format('woff'),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url('@/assets/fonts/vazir/Vazir-Thin-FD.ttf') format('truetype');
}
