<template>
  <div class="header-container">
    <app-user-profile />
    <app-search-area />
    <app-branding-logo />
  </div>
</template>

<script>
import UserProfile from '../components/header/UserProfile.vue'
import SearchArea from '../components/header/SearchArea.vue'
import BrandingLogo from '../components/header/BrandingLogo.vue'
export default {
  components: {
    appUserProfile: UserProfile,
    appSearchArea: SearchArea,
    appBrandingLogo: BrandingLogo
  }
}
</script>

<style lang="scss" scoped>
.header-container {
  direction: ltr;
  height: 80px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.12);
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
}
</style>
