<template>
  <div class="btn btn-white">
    <span class="icon">
      <font-awesome-icon fas icon="user" />
    </span>
    <span class="p text">مفیدترین دیدگاه ها</span>
  </div>
</template>

<style lang="scss" scoped>
.btn-white {
  direction: rtl;
  cursor: pointer;
  height: 34px;
  padding: 0 16px;
  border: 1px solid $border-color;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  .text {
    line-height: 34px;
  }
  .icon {
    margin-left: 4px;
    &:empty {
      margin-left: 0;
    }
  }
  &:hover {
    background-color: $border-color;
    transition: 0.2s ease-out;
  }
}
</style>
