<template>
  <div class="btn btn-outline">
    <p class="p-bold text">لغو</p>
  </div>
</template>

<style lang="scss" scoped>
.btn-outline {
  direction: rtl;
  cursor: pointer;
  height: 34px;
  padding: 0 28px;
  border: 2px solid $primary;
  border-radius: 8px;
  .text {
    line-height: 34px;
    color: $primary;
  }
  &:hover {
    background-color: $primary;
    .text {
      color: white;
    }
    transition: 0.2s ease-out;
  }
}
</style>
