<template>
  <div class="cart">
    <div class="image">
      <img src="@/static/image.png" alt="">
    </div>
    <div class="content">
      <div class="product-info">
        <h6>کفش مخصوص پیاده روی بچگانه ملی مدل ساروق کد 84592388</h6>
        <div class="user-rate">
          <font-awesome-icon :class=" `icon`" fas icon="star" />
          <h6 class="user-rate-number">5 / 4.5</h6>
        </div>
      </div>
      <div class="product-price">
        <div class="old-price">
          <p class="sub-word bold discount">%2</p>
          <p class="price bold">16,299,000</p>
        </div>
        <div class="price">
          <h4 class="text">تومان</h4>
          <h4 class="number">16,199,000</h4>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  // props: {
  //   fontIcon: {
  //     type: String
  //   },
  //   color: {
  //     type: String
  //   }
  // }
}
</script>

<style lang="scss" scoped>
.cart {
  width: 480px;
  height: 200px;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid $border-color;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.06);
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  .image {
    flex: 1;
    width: 160px;
    height: 160px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      height: 80%;
    }
  }
  .content {
    flex: 2;
    .product-info {
      .user-rate {
        margin: 10px 0;
        display: flex;
        flex-direction: row;
        .icon {
          margin-left: 10px;
          font-size: 18px;
          color: $warning;
        }
      }
    }
    .product-price {
      direction: ltr;
      .old-price {
        display: flex;
        flex-direction: row;
        .discount {
          width: 26px;
          height: 16px;
          line-height: 18px;
          text-align: center;
          background-color: $primary;
          border-radius: 8px;
          color: white;
          margin-right: 10px;
        }
        p.price {
          text-decoration: line-through;
          color: $disabled;
        }
      }
      .price {
        display: flex;
        flex-direction: row;
        .text,
        .number {
          margin-right: 6px;
        }
      }
    }
  }
  &:hover {
    transform: scale(1.005);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: 0.2s ease-out;
  }
}
</style>
