<template>
  <div class="text-box">
    <div v-if="label" class="label">
      <h5>{{label}}</h5>
    </div>
    <div class="input">
      <div class="text-area">
        <font-awesome-icon class="search-icon" fas icon="pen" />
        <input v-model="newTitle" :style="{height,maxWidth: `${inputWidth}px`, backgroundColor: bgColor}" :type="inputType" :placeholder="placeholder">
        <div class="options">
          <app-icon class="submit" font-icon="check" color="#48c774" type="button" @click.native="$emit('submitEdit', newTitle)" />
          <app-icon class="cancel" font-icon="xmark" color="#fb3449" type="button" @click.native="$emit('cancelEdit')" />
        </div>
      </div>
      <div v-if="message" class="message">
        <font-awesome-icon :class="`${message.type} icon`" fas :icon="messageIcon" />
        <p :class="`${message.type} bold text`">{{message.text ? message.text: ""}}</p>
      </div>
    </div>
  </div>
</template>

<script>
import Icon from './IconDefualt.vue'
export default {
  components: {
    appIcon: Icon,
  },
  props: {
    label: {
      type: String,
      default: null,
    },
    inputType: {
      type: String,
      default: 'text',
    },
    placeholder: {
      type: String,
      default: 'اینجا بنویسید',
    },
    message: {
      type: Object,
      default: null,
    },
    width: {
      type: String,
      default: 'normal',
    },
    backgroundColor: {
      type: String,
      default: 'white',
    },
    height: {
      type: String,
      default: '50px',
    },
    oldTitle: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      newTitle: '',
    }
  },
  computed: {
    messageIcon() {
      switch (this.message.type) {
        case 'error':
          return 'exclamation-triangle'
        case 'info':
          return 'info-circle'
        case 'warning':
          return 'exclamation-circle'
        default:
          return null
      }
    },
    inputWidth() {
      switch (this.width) {
        case 'normal':
          return 250
        case 'small':
          return '100'
        case 'large':
          return '100%'
        default:
          return 250
      }
    },
    bgColor() {
      switch (this.backgroundColor) {
        case 'dark':
          return '#f1f1f1'
        default:
          return 'white'
      }
    },
  },
  created() {
    this.newTitle = this.oldTitle
  },
}
</script>

<style lang="scss" scoped>
.text-box {
  direction: rtl;
  width: 100%;
  .label {
    margin-bottom: 10px;
  }
  .input {
    .text-area {
      position: relative;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      position: relative;
      .search-icon {
        position: absolute;
        right: 15px;
        color: $disabled;
      }
      input {
        width: 100%;
        box-sizing: border-box;
        height: 50px;
        padding: 0 40px;
        border: 1px solid $border-color;
        border-radius: 8px;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.06);
        &:focus {
          border: 2px solid $textbox-fcous-border-color;
          outline: none;
        }
        &::placeholder {
          color: $disabled;
        }
      }
      .options {
        position: absolute;
        left: 11px;
        display: flex;
        .cancel {
          margin-right: 5px;
        }
      }
    }
    .message {
      margin: 5px 10px 0 0;
      display: flex;
      .icon {
        font-size: 12px;
        margin: 2px 0 0 5px;
      }
      .icon.error,
      .text.error {
        color: $primary;
      }
      .icon.warning,
      .text.warning {
        color: $warning;
      }
      .icon.info,
      .text.info {
        color: $info;
      }
    }
  }
}
</style>
