<template>
  <div class="icon">
    <font-awesome-icon :class="`icon-component`" fas :icon="fontIcon" :style="{color, 'font-size': size}" />
  </div>
</template>

<script>
export default {
  props: {
    fontIcon: {
      type: String,
      default: '',
    },
    color: {
      type: String,
      default: '',
    },
    backgroundColor: {
      type: String,
      default: '#f0f0f0',
    },
    size: {
      type: String,
      default: '14',
    },
  },
}
</script>

<style lang="scss" scoped>
.icon {
  width: 40px;
  height: 40px;
  background-color: $component-bg;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  .icon-component {
    font-size: 12px;
  }
  &:hover {
    background-color: $textbox-fcous-border-color;
  }
}
</style>
