<template>
  <div v-click-outside="hideOptions" class="submenu-container">
    <app-icon class="list-icon" :font-icon="fontIcon" :size="size" :type="type" :background-color="backgroundColor" @click.native="hideOptions('open')" />
    <transition name="bounce">
      <div v-if="open" class="options">
        <div v-for="(option, index) in segmentItemOptions" :key="index" class="option item" @click="segmentOptionClickHandler(option.event)">
          <font-awesome-icon class="icon-component" fas :icon="option.icon" :style="{color: option.color, 'font-size': size}" />
          <p class="bold" :style="{color:option.color}">{{option.text}}</p>
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
import Icon from './IconDefualt.vue'
export default {
  components: {
    appIcon: Icon,
  },
  directives: {
    'click-outside': {
      bind(el, binding, vnode) {
        el.clickOutsideEvent = function (event) {
          // here I check that click was outside the el and his children
          if (!(el === event.target || el.contains(event.target))) {
            // and if it did, call method provided in attribute value
            vnode.context[binding.expression](event)
          }
        }
        document.body.addEventListener('click', el.clickOutsideEvent)
      },
      unbind(el) {
        document.body.removeEventListener('click', el.clickOutsideEvent)
      },
    },
  },
  props: {
    type: {
      type: String,
      default: 'icon',
    },
    fontIcon: {
      type: String,
      default: '',
    },
    color: {
      type: String,
      default: '',
    },
    backgroundColor: {
      type: String,
      default: '#f0f0f0',
    },
    size: {
      type: String,
      default: '14',
    },
  },
  data() {
    return {
      open: false,
      editMode: false,
      segmentItemOptions: [
        {
          text: 'ویرایش عنوان',
          icon: 'pen',
          event: 'edit',
          color: '#1b1b1b',
        },
        {
          text: 'افزودن دسته بندی',
          icon: 'plus',
          event: 'addCategory',
          color: '#1b1b1b',
        },
        {
          text: 'حذف بخش',
          icon: 'trash',
          event: 'remove',
          color: '#fb3449',
        },
      ],
    }
  },
  methods: {
    hideOptions(type) {
      this.open = type === 'open'
    },
    segmentOptionClickHandler(event) {
      if (event === 'edit') {
        this.$emit('edit')
      } else if (event === 'remove') {
        this.$emit('remove')
      } else if (event === 'addCategory') {
        this.$emit('addCategory')
      }
      this.open = false
    },
  },
}
</script>

<style lang="scss" scoped>
.submenu-container {
  position: relative;
  .options {
    position: absolute;
    left: 0;
    width: 164px;
    padding: 10px 0;
    border: 1px solid $border-color;
    border-radius: 8px;
    background-color: white;
    .option {
      display: flex;
      align-items: center;
      height: 45px;
      cursor: pointer;
      .icon-component {
        margin: 0 20px;
      }
      &:hover {
        background-color: $secondary;
        transition: all 0.2s ease-out;
      }
    }
  }
}
</style>