<template>
  <div class="brand-item">
    <app-icon class="options" font-icon="ellipsis-v" size="12px" background-color="transparent" type="button" />
    <div class="brand-image">
      <img :src="image" alt="">
    </div>
    <h6 class="brand-name">{{name}}</h6>
  </div>
</template>

<script>
import Icon from '../elements/IconDefualt.vue'
export default {
  components: {
    appIcon: Icon,
  },
  props: {
    image: {
      type: String,
      default: null,
    },
    name: {
      type: String,
      default: null,
    },
  },
}
</script>

<style lang="scss" scoped>
.brand-item {
  position: relative;
  width: 180px;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 1px solid $border-color;
  border-radius: 8px;
  padding: 15px 15px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.06);
  margin: 0 0 20px 20px;
  .options {
    position: absolute;
    top: 0;
    left: 0;
  }
  .brand-image {
    width: 100px;
    height: 100px;
    margin: 10px 0 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 100%;
    }
  }
}

@media (max-width: 800px) {
  .brand-item {
    width: 100%;
    margin: 0 0 20px 0;
  }
}
</style>
