<template>
  <div class="segment-item">
    <div :class="categories.length !== 0 ? 'main margined':'main'">
      <div class="title">
        <div class="icon">
          <app-icon class="icon-component" :font-icon="icon" size="14px" />
          <font-awesome-icon class="edit-icon" fas icon="pen" :style="{color: '#1b1b1b','font-size': '10px'}" />
        </div>
        <app-edit-textbox v-if="editMode" :old-title="title" placeholder="متن اولیه" height="40px" @submitEdit="submitEdit" @cancelEdit="cancelEdit" />
        <h6 v-else>{{title}}</h6>
      </div>
      <div class="options">
        <app-icon class="list-icon" font-icon="chevron-right" size="12px" type="button" />
        <app-sub-menu class="list-icon" font-icon="ellipsis-v" size="14px" type="button" background-color="white" @edit="editMode = true" @remove="$emit('remove')" />
      </div>
    </div>
    <div class="categories">
      <div v-for="(category, categoryIndex) in categories" :key="categoryIndex" class="category-item">
        <p class="bold title">{{category.name}}</p>
        <div class="options">
          <font-awesome-icon v-if="category.image" class="image-icon option-icon" fas icon="image" :style="{'font-size': '12px'}" />
          <font-awesome-icon class="edit-icon option-icon" fas icon="pen" :style="{'font-size': '12px'}" />
          <font-awesome-icon class="remove-icon option-icon" fas icon="trash" :style="{'font-size': '12px'}" @click="deleteCategory(categoryIndex)" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Icon from '../elements/IconDefualt.vue'
import SubMenu from '../elements/SubMenu.vue'
import EditTextbox from '../elements/EditTextbox.vue'
export default {
  components: {
    appIcon: Icon,
    appSubMenu: SubMenu,
    appEditTextbox: EditTextbox,
  },
  props: {
    title: {
      type: String,
      default: '',
    },
    icon: {
      type: String,
      default: '',
    },
    categories: {
      type: Array,
      default: null,
    },
    index: {
      type: Number,
      default: 0,
    },
  },
  data() {
    return {
      editMode: false,
    }
  },
  methods: {
    submitEdit(editedTitle) {
      this.$emit('edited', editedTitle)
      this.editMode = false
    },
    cancelEdit() {
      console.log('canceled')
      this.editMode = false
    },
    deleteCategory(index) {
      this.$emit('deleteCategory', index)
    },
  },
}
</script>

<style lang="scss" scoped>
.segment-item {
  width: 49%;
  min-width: 270px;
  border: 1px solid $border-color;
  border-radius: 8px;
  padding: 20px 15px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.06);
  margin-bottom: 20px;
  .main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .title {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      .icon {
        position: relative;
        .icon-component {
          margin-left: 20px;
          flex-shrink: 0;
        }
        .edit-icon {
          background-color: white;
          padding: 4px;
          box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.06);
          border: 1px solid #f1f1f1;
          border-radius: 50%;
          position: absolute;
          bottom: -5px;
          left: 15px;
        }
      }
    }
    .options {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
      .list-icon {
        margin-right: 10px;
      }
    }
  }
  .margined {
    margin-bottom: 40px;
  }
  .categories {
    .category-item {
      width: 170px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: $component-bg;
      padding: 8px 12px;
      border-radius: 5px;
      .options {
        height: 16px;
        .option-icon {
          margin-right: 5px;
          &.edit-icon:hover {
            color: $secondary;
          }
          &.remove-icon:hover {
            color: $danger;
          }
        }
      }
    }
  }
}

@media (max-width: 1210px) {
  .segment-item {
    width: 100%;
  }
}
</style>
