<template>
  <vue-custom-scrollbar class="scroll-area" :settings="settings">
    <div class="container">
      <section class="segments">
        <div class="section-header">
          <h5 class="section-title">بخش ها و دسته بندی ها</h5>
          <app-icon class="add-button" font-icon="plus" size="14px" />
        </div>
        <div class="segment-items">
          <app-segment-item v-for="(segment, index) in getSegments" :key="index" :categories="segment.categories" :icon="segment.segmentIcon" :title="segment.name" @edited="editSegment(index, $event)" @remove="removeSegment(index)" @deleteCategory="deleteCategory(index, $event)" />
        </div>
      </section>

      <section class="barnds">
        <div class="section-header">
          <h5 class="section-title">برند ها</h5>
          <div class="options">
            <app-icon font-icon="search" size="14px" />
            <app-icon class="add-button" font-icon="plus" size="14px" />
          </div>
        </div>
        <div class="brand-items">
          <app-brand-item v-for="(brand, index) in getBrands" :key="index" :name="brand.name" :image="brand.image.url" />
        </div>
      </section>
    </div>
  </vue-custom-scrollbar>

</template>

<script>
import { mapGetters, mapActions } from 'vuex'

import vueCustomScrollbar from 'vue-custom-scrollbar'
import 'vue-custom-scrollbar/dist/vueScrollbar.css'
import Icon from '../../components/elements/IconBig.vue'
import SegmentItem from '../../components/segmentation/SegmentItem.vue'
import BrandItem from '../../components/segmentation/BrandItem.vue'
export default {
  components: {
    appIcon: Icon,
    appSegmentItem: SegmentItem,
    appBrandItem: BrandItem,
    vueCustomScrollbar,
  },
  async asyncData({ store }) {
    await Promise.all([
      store.dispatch('segmentation/getSegments'),
      store.dispatch('segmentation/getBrands'),
    ])
  },
  data() {
    return {
      settings: {
        suppressScrollY: false,
        suppressScrollX: true,
        wheelPropagation: true,
      },
    }
  },
  computed: {
    ...mapGetters('segmentation', ['getSegments', 'getBrands']),
  },
  methods: {
    ...mapActions('segmentation', [
      'editTitle',
      'categoryDelition',
      'segmentDelition',
    ]),
    async removeSegment(index) {
      await this.segmentDelition(this.getSegments[index]._id)
    },
    async editSegment(index, editedTitle) {
      await this.editTitle({
        segmentId: this.getSegments[index]._id,
        editedTitle,
      })
    },
    async deleteCategory(segmentIndex, categoryIndex) {
      await this.categoryDelition({
        segmentId: this.getSegments[segmentIndex]._id,
        categoryId:
          this.getSegments[segmentIndex].categories[categoryIndex]._id,
      })
    },
  },
}
</script>

<style lang="scss" scoped>
.container {
  direction: ltr;
  width: 100%;
  padding: 0 200px;
  height: 90vh;
  margin: 0 auto;
  section {
    direction: rtl;
    padding: 75px 0 0 0;
    .segment-items {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    .brand-items {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
    }
  }
  .section-header {
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .options {
      display: flex;
      .add-button {
        margin-right: 10px;
      }
    }
  }
}

.scroll-area {
  direction: ltr;
  position: relative;
  margin: auto 10px;
}

@media (max-width: 800px) {
  .container {
    padding: 0 50px;
  }
}
</style>
